#doritos {
  display: block;
  filter: brightness(200%);
}
#capibara {
  display: block;
  filter: contrast(200%);
  margin-left: auto;
  margin-right: auto;
}
#c {
  text-align: center;
}
