.h1 {
  color: rgb(252, 144, 246);
  font-size: 50px;
  text-align: center;
}
.p {
  color: rgb(252, 144, 246);
  font-size: 50px;
  text-align: center;
}
.p {
  text-align: center;
}
.p {
  text-align: center;
}
