h1 {
  text-shadow: 3px 4px 10px rgb(26, 31, 26);
}
#uno {
  background-color: yellow;
}
#dos {
  color: green;
}
#tres {
  color: white;
  background-color: black;
}
#cinco {
  color: blue;
}
#siete {
  text-shadow: 2px 3px 5px darkgreen;
  font-size: 40px;
}
